@import "tailwindcss";

@theme {
    --font-mono: 'Consolas', 'Courier New', monospace;

    --color-main: oklch(0.2063 0.012 277.83);
    --color-panel: oklch(0.228 0.0158 274.07);
    --color-outline: oklch(0.3172 0.0289 276.35);
    --color-danger: oklch(0.628 0.2577 29.23);
    --color-danger-panel: oklch(0.2062 0.0281 18.72);
    --color-danger-outline: oklch(0.3233 0.0281 18.72);

    --color-primary: oklch(1 0 0);
    --color-muted: oklch(0.5931 0 0);
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: var(--color-main);
        color: var(--color-primary);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }
}

@layer components {
    .submit-btn {
        @apply flex justify-center items-center bg-transparent py-2 px-4;
        @apply border border-outline rounded-[0.5rem];
        @apply text-primary cursor-pointer;
        @apply hover:bg-outline;
    }

    .link {
        @apply no-underline text-primary;
        @apply hover:text-muted;
        @apply transition-colors duration-200;
    }

    .fetching {
        @apply text-muted;
    }

    .fetching-error {
        @apply text-danger;
    }

    .text-input {
        @apply flex text-primary bg-transparent border-b border-primary;
        @apply focus-visible:outline-2;
    }

    .control {
        @apply border-none bg-transparent text-primary cursor-pointer rounded-[0.2rem] min-w-5 h-5 p-1 flex justify-center items-center;
        @apply transition-colors duration-200;
    }
}