.add-item-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-panel);
    background-color: var(--bg-panel);
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5)
}

.text-input {
    display: flex;
    color: var(--text-primary);
    background: none;
    border: none;
    border-bottom: 1px solid var(--text-primary);
}

.text-input:focus {
    outline: none;
}

.input-and-btn {
    display: flex;
    gap: 1rem;
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    border: 1px solid var(--border-panel);
    background: none;
    border-radius: 0.5rem;
    padding: 0.6rem 1rem;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: var(--border-panel);
}