.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-panel);
    background-color: var(--bg-panel);
    border-radius: 0.5rem;
    width: 100%;
    min-height: 18rem;
    height: fit-content;
    padding: 0.5rem;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    gap: 0.5rem;
}

.card-out {
    border: 1px solid var(--border-panel-danger);
    background-color: var(--bg-panel-danger);
}

.name {
    font-size: 1.5rem;
}

.quantity-panel {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}

.control {
    border: none;
    background: none;
    color: var(--text-primary);
    cursor: pointer;
    border-radius: 0.2rem;
    min-width: 1.2rem;
    height: 1.2rem;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control:hover {
    background-color: var(--border-panel);
}

.control-out:hover {
    background-color: var(--border-panel-danger);
}

.out-of-stock-msg {
    color: var(--color-danger);
    position: absolute;
    bottom: 0;
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1024px) {
    .card {
        width: 12rem;
    }
}