body {
    font-family: 'Consolas', 'Courier New', monospace;
    background-color: #16171d;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}